.comment__modal__layout{
    position:fixed;
    top: 30%;
    left: 40%;
    width: 450px;
    height: 430px;

    display:flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;

    border: 1px solid;
}

.comment__modal__header{
    padding-left: 30px;
    width: 100%;
    height: 60px;
    background: #2B771D;
    border: 1px solid #C4C4C4;

    font-weight: bold;
    font-size: 23px;
    line-height: 60px;
    color: #ffffff;
}

.comment__exit__btn{
   position: absolute;
   right: 34px;
   top: 10px;
   width: 40px;
   height: 40px;
   cursor: pointer;
}

.method__btn__list{
    display:flex;
    width: 150px;
    justify-content: space-between;
    margin: 54px 0 24px;
    font-size: 25px;
    font-weight: 500;
    
    /* border: 1px solid; */
}

.method__btn__list .method__btn{
    color: #B9B8B8;
    cursor: pointer;
}

.method__btn__bar{
    margin-top: 5.5px;
    height: 26px;
    border:2px solid #8B8989;
}

.method__btn__selected{
    color: #2B771D;
    font-size: 1.5rem;
    font-weight: 700;
}

.pw__input__desc{
    margin-bottom: 9px;
    font-size: 15px;
    color: #8B8989;
}

.comment__modal__layout input{
    width: 280px;
    height: 45px;
    margin-bottom: 41px;
    padding-left: 18px;

    background: #F5EDDA;
    border: 1px solid #333333;
    border-radius: 3px;
    color: #333333;
}

.method__txt__list div{
    width: 90px;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

.method__txt__list :nth-child(1){
    border-right: 1px solid #8B8989;
}

.comment__modal__layout button{
    width: 280px;
    height: 45px;
    margin-bottom: 9px;
    
    font-weight: bold;
    font-size: 20px;
    background: #ffffff;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
}

.comment__modal__layout .btn__ok{
    background: #2B771D;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    color: #F5EDDA;
}


/* 댓글 수정 창 */

.comment__modal__id{
    width: 280px;
    margin: 40px 0 9px;
    font-size: 20px;
    font-weight: 900;
    color: #6A6969;
}

.comment__modal__layout textarea{
    width: 280px;
    height: 193px;
    margin-bottom: 16px;

    background: #F5EDDA;
    border: 1px solid #686666;
    border-radius: 3px
}


.btn__list{
    width: 281px;
    /* margin-bottom: 85px; */
    display: flex;
    justify-content: space-between;
}

.btn__list button{
    width: 130px;
    height: 45px;
    font-size: 16px;
}


/* 댓글 쓰기 창 */

.input__list{    
    width: 281px;
    margin: 40px 0 10px;

    display: flex;
    justify-content: space-between;

    font-size: 0.5rem;
}

.input__list input{
    width: 130px;
    height: 45px;
    margin: 0px;

    background: #FFFFFF;
    border: 1px solid #9D9D9D;
    border-radius: 3px;

    font-weight: normal;
    font-size: 0.8rem;
    color: rgba(139, 137, 137, 0.5);

}

.input__list input::placeholder, .comment__modal__layout textarea::placeholder{
    font-weight: normal;
    font-size: 0.84rem;
}

/* 에러 문구 */

.error__title{
    margin: 116px 0px 21px;
    font-weight: 600;
    /* font-size: 0px; */
    color: #8B8989;
    /* width: 300px; */
    /* border: 1px solid; */
}