.comment__header__layout{
    margin-bottom : 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid black; */
}

.comment__header__layout div{
    display: flex;
    align-items: center;
}

.comment__header__layout h1{
    margin-right: 22px;
    color: #000000;
}

.comment__count{
    font-weight: bold;
    font-size: 25px;
    color: #336633;
}

.commment__share__btn{
    width: 220px;
    height: 60px;
    border-radius: 5px;

    font-weight: bold;
    font-size: 1.75rem;

    color: #F4EBDA;
    background: #2B771D;

}

/* 코멘트 창 공유 박스 */
.comment__share__layout{
    width: 960px;
    height: 462px;
    position: fixed;
    top: 30vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid;
}

.share__exit__btn{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #2B771D;

    position:absolute;
    top: 66px;
    right: 122px;
    font-size: 2.6rem;
    line-height: 40px;
    color:#ffffff;
}

.comment__share__layout h1{
    margin: 0px 0px 17px;
}

.comment__share__layout p{
    margin: 0px 0px 29px;
}


.share__btn__list{
    width: 404px;
    display: flex;
    justify-content: space-between;
}


.share__btn__list img{
    width: 100px;
    height: 100px;
    border-radius: 100%;

    cursor: pointer;
}

.url__copy__btn{
    width: 100px;
    height: 40px;
    margin: 29px 0px 21px 300px;

    font-weight: bold;
    font-size: 1.14rem;
    color: #F4EBDA;

    background: #2B771D;
    border-radius: 3px;
}

hr{
    width: 400px;
    height: 5px;
    border: 0;
    background: #84A369;
}
