.commentbox{
    /* height: 179px; */
    padding : 13px 30px 43px;
    border-bottom: 2px dashed #809F65;
}

.commentbox__first__line{
    height: 46px;
    display: flex;
    justify-content: space-between;


}

.commentbox__first__line h2{
    width: 204px;
    margin-right: 15px;
    /* border: 1px solid; */
    color: #333333;
}

.commentbox__first__line p{
    font-weight: normal;
    font-size: 1.25rem;
    color: rgba(51, 102, 51, 0.7);
}

.commentbox__first__line > div{
    display: flex;
    align-items: center;
}

/* .commentbox__btn__list{
    width: 280px;
    display: flex;
    border: 1px solid;
} */

.commentbox__btn__list > button{
    width: 54px;
    font-size: 1.25rem;
    color: rgba(51, 102, 51, 0.7);
}

.commentbox__btn__list > div{
    width: 11px;
    margin-left: 5px;
    font-size: 1.25rem;
    color: rgba(51, 102, 51, 0.7);
}

.commentbox__btn__list > button:nth-child(4){
    width: 105px;
}

.commentbox__btn__list > button:hover{
    font-weight: bold;
    color: #336633;
}



