.commentbox{
    height: 179px;
    padding : 13px 30px 43px;
    border-bottom: 2px solid #c9c7c7;
}

.commentbox__first__line{
    height: 46px;
    display: flex;
    justify-content: space-between;


}

.commentbox__first__line h2{
    width: 204px;
    margin-right: 15px;
    /* border: 1px solid; */
    color: #333333;
}

.commentbox__first__line p{
    font-weight: normal;
    font-size: 1.25rem;
    color: rgba(51, 102, 51, 0.7);
}

.commentbox__first__line div{
    display: flex;
    align-items: center;
}

.commentbox__btn__list button{
    font-size: 1.25rem;
    color: rgba(51, 102, 51, 0.7);
    border: 0px solid;
}

.commentbox__btn__list :nth-child(3){
    margin-left: 15px;
    font-weight: bold;
    color: #336633;
}



