
.game__result__layout{
    width: 920px;
    height: 540px;
    margin : 74px auto 0px;
    border: 1px solid;
    background-color: #3D3D3D;
}

/* 게임 결과 내부 보드 */
.game__score__board{
    position: relative;
    width: 720px;
    height: 420px;
    margin: 58px auto 0px;
    padding : 24px 30px;

    background: #FFFFFF;
    border-radius: 3px;
}

/* 내부 보드 헤더 */
.game__score__header{
    margin-bottom: 12px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game__score__header>h1{
    font-family: Jua;
    font-weight: normal;
    font-size: 32px;
    color: #333333;
}

.board__close__btn{
    width: 40px;
    height: 40px;
    margin-top: 5px;

    /* position: absolute;
    top: 24px;
    right: 30px; */
}

/* 결과 바디 */
.game__score__body{
    width: 100%;
    height: 300px;
    /* border: 1px solid; */

    display: flex;
    justify-content: space-between;
}

.score__body__box{
    width: 310px;
    height: 100%;
    
    /* border: 1px solid; */
}

/* 점수, 다시하기, 순위보기 버튼 */
.body__line{
    width: 310px;
    height: 3px;
    margin-bottom: 24px;
    border-radius: 5px;
    
    background: #2C781D;
}

.score__body__box p{
    text-align: center;
    font-family: Jua;
    font-weight: normal;
    font-size: 28px;
    color: #6E6E6E;
}

.score__body__box .score__txt{
    font-weight: bold;
    font-size: 80px;
    color: #3E2D23;
    text-shadow:
    -2px -2px 0 #5F554D,
    2px -2px 0 #5F554D,
    -2px 2px 0 #5F554D,
    2px 2px 0 #5F554D;  

}

.score__body__box > button{
    width: 100%;
    height : 60px;
    margin-top: 19px;

    background: #F4EBDA;
    border: 3px solid #2C761D;
    border-radius: 3px;

    font-family: Jua;
    font-weight: normal;
    font-size: 32px;
}

.score__body__box > button:hover{
    background: #2C761D;
    border: 3px solid #2C761D;

    color: #F4EBDA;
}


/* 맞힌 단어, 틀린단어 레이아웃 */

.word__box{
    width: 316px;
    height: 150px;
    border: 2px dashed #89C483;
    border-radius: 8px;
    padding: 13px;
}

.blank{
    height: 21px;
}

.word__box__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box__header__txt{
    /* height: 31px; */
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}

.box__header__txt > p{
    font-size: 24px;
    margin-right: 4px;
}

.word__box__paging{
    display: flex;
    /* align-items: center; */
    /* border: 1px solid; */
}

.word__box__paging p{
    font-size: 14px;
    color: #2F771F;
    margin: 0px 8px;
}

.page__num__box{
    width: 46px;
    
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}

.page__num__box > div{
    width: 1px;
    height: 12px;
    margin-bottom:8px;

    background: #777777;
}

.word__box__header button{
    width: 30px;
    height: 30px;
}



.word__box__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.word__box__list > p{
    margin-bottom: 7px;
    font-size: 16px;
    
}