.game__menu__layout{
    position: relative;
    width: 920px;
    height: 600px;
    margin : 18px auto 0px;
    border: 1px solid;

    background-image: url('img/menu/menu_background.png');
    background-size: contain;
}

.game__menu__button{
    position:absolute;
    width: 344px;
    height: 101px;
    /* border:1px solid; */
    cursor: url('img/mouse.png'), auto;
}

.game__menu__button img{
    width: 344px;
    height: 101px;
}

.game__menu__button img:hover{
    transform:rotateZ(3deg);
}

.game__menu__layout button:nth-child(1){
    top: 84px;
    left: 170px;
}

.game__menu__layout button:nth-child(2){
    top: 206px;
    left: 170px;
}

.game__menu__layout button:nth-child(3){
    top: 330px;
    left: 120px;
}

.game__menu__mole{
    position:absolute;
    width: 237px;
    height: 395px;

    top: 170px;
    left: 540px;

    /* border: 2px solid rgba(0, 0, 0, 0.5); */
}