.game__des__layout{
    position: relative;
    width: 920px;
    height: 600px;
    margin : 0px auto;
    /* border: 1px solid; */
}


.des__close__btn{
    width: 60px;
    height: 60px;

    position: absolute;
    top: 42px;
    right: 38px;
    cursor: pointer;
}

.des__start__btn{
    width: 280px;
    height: 60px;

    position: absolute;
    bottom: 117px;
    left: 52px;

    background: #F4EBDA;
    border: 3px solid #2C761D;
    border-radius: 3px;

    font-family: Jua;
    font-size: 32px;
    color: #3E2D23;
}

.des__start__btn:hover{
    background: #2C761D;
    color: #F4EBDA;


}




.des__page__box{
    position: absolute;
    bottom: 42px;
    left: 58px;
    width: 266px;
    height: 64px;

    display: flex;
    justify-content: space-between;
}

/* .des__page__box button{
    width : 60px;
    height: 60px;
} */

.des__page__box img{
    width : 60px;
    height: 60px;
    cursor: pointer;
}

.des__page__box .page__num__box{
    width: 82px;
    margin-top: 1px;
    display: flex;
    /* border: 1px solid; */
}

.page__num__box > p{
    font-family: Jua;
    margin : 0 13px;
    font-weight: normal;
    font-size: 26px;
    color: #777777;

}

.des__page__box .page__num__box > div{
    height: 18px;
    margin-bottom: 4px;
    background-color: #777777;
    border: 1.8px solid #777777;
    border-radius: 8px;
}