.game__menu__layout{
    position: relative;
    width: 920px;
    height: 600px;
    margin : 0px auto;

    /* background-image: url('img/menu/menu_background.png'); */
    background-size: contain;
}

.game__menu__layout > canvas{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 920px;
    height: 600px;
}

.game__menu__button{
    position:absolute;
    z-index: 3;
    width: 344px;
    height: 101px;
    /* border:1px solid; */
}

.game__menu__button img{
    width: 344px;
    height: 101px;
}

.game__menu__button img:hover{
    transform:rotateZ(3deg);
}

.game__menu__layout button:nth-child(1){
    top: 84px;
    left: 170px;
}

.game__menu__layout button:nth-child(2){
    top: 206px;
    left: 170px;
}

.game__menu__layout button:nth-child(3){
    top: 330px;
    left: 120px;
}

.game__menu__mole{
    position:absolute;
    width: 237px;
    height: 395px;

    top: 170px;
    left: 540px;

    /* border: 1px solid; */

    /* border: 2px solid rgba(0, 0, 0, 0.5); */
}